.container{
	width: 100%;
	height: 100%;
}

.header_photo{
		background: url("../images/primer.jpg") no-repeat top center; 
		background-size: cover;
		position: relative;
		height: 100vh;
		@media (max-width: 768px) {
				height: 100vh;
		}
}



.header_photo::before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5); 
	z-index: 2;
}

.navigation__wrapper {
  max-width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
	z-index: 2;
}

nav {
  display: flex;
  align-items: center;
}

nav a {
  margin: 0 30px;
	margin-bottom: 50px;
  color: white;
	font-size: 24px;
  text-decoration: none;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	z-index: 2;
	letter-spacing: 1px;
}

.header__text__wrapper {
  text-align: center;
}

.header__text {
  overflow-wrap: break-word;
  display: inline-block;
	color: white;
	position: relative;
	z-index: 2;
	max-width: 50%; /* BREAKPOINT*/
	font-size: 35px;
	font-family: 'Merriweather', serif;
	font-weight: 500;
	letter-spacing: 1px;
}

.capability{
	color: white;
	z-index: 2;
	display: inline-block;
	position: relative;
	padding: 0;
	margin-top: 50px;
}

.capability li{
	line-height: 2;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 28px;
	list-style: none;
	text-decoration: none;
}

.logo {
	width: 250px;
	z-index: 2;
}

.buttons{
	justify-content: center;
	display: flex;
	margin-top: 30px;
	padding: 100px;
}

.left-button{
	border-radius: 8px;
	padding: 10px 20px;
	background-color: transparent;
	color: white;
	border: 2px solid white;
	z-index: 2;
	font-family: 'Roboto', sans-serif;
	transition: ease-in-out 0.5s;
}

.right-button{
	border-radius: 8px;
	padding: 10px 20px;
	background-color: white;
	color: black;
	border: 2px solid white;
	z-index: 2;
	margin-left: 40px;
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	transition: ease-in-out 0.5s;
}

.right-button:hover{
	box-shadow: 1px 1px 20px 10px rgba(255, 255, 255, 0.2);
	transition: ease-in-out 0.5s;
}

.left-button:hover{
	box-shadow: 1px 1px 20px 10px rgba(255, 255, 255, 0.2);
	transition: ease-in-out 0.5s;
}