.why-us-card {
  position: relative;
  display: inline-block;
}

.why-us-img {
  max-width: 100%;
  height: auto;
  display: block;
	@media (max-width: 1700px) {
		max-width: 70%;
	}
}

.why-us-text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: black;
  width: 100%;
  margin: 0; 
}

.why-us-text-container p {
  margin: 0; 
	font-family: 'Open Sans', sans-serif;
	font-size: 22px;
}

.accent{
	color: #FFA800;
}
